/* ===== CONFIGURAÇÕES GERAIS ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, sans-serif;
    background:#F1E2D0;

}

/* ===== CABEÇALHO ===== */

header{

    background:#183451;
    color:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;

}

.logo p{

    color:#D4AF83;

}

/* ===== MENU ===== */

nav a{

    color:white;
    text-decoration:none;
    margin:12px;
    font-weight:bold;

}

nav a:hover{

    color:#D67B2A;

}

/* ===== BANNER ===== */

.banner{

    height:500px;

    background:
        linear-gradient(
            rgba(24,52,81,0.70),
            rgba(24,52,81,0.70)
        ),
        url("fundo.jpg");

    background-size:cover;

    background-position:center;

    display:flex;

    align-items:center;

}

.banner-texto{

    width:420px;

    background:rgba(24,52,81,0.85);

    color:white;

    margin-left:60px;

    padding:30px;

    border-radius:15px;

}

.banner-texto h2{

    font-size:38px;

    margin-bottom:20px;

}

.banner-texto p{

    margin-bottom:25px;

    line-height:28px;

}

/* ===== BOTÃO ===== */

.botao{

    background:#D67B2A;

    color:white;

    text-decoration:none;

    padding:15px 30px;

    border-radius:10px;

}

.botao:hover{

    background:#A6502A;

}

/* ===== CARDS ===== */

.cards{

    display:flex;

    justify-content:center;

    gap:25px;

    flex-wrap:wrap;

    padding:60px 20px;

}

.card{

    width:300px;

    background:white;

    padding:25px;

    border-radius:15px;

    text-align:center;

    box-shadow:0 0 10px rgba(0,0,0,0.2);

}

/* ===== CURIOSIDADE ===== */

.curiosidade{

    text-align:center;

    padding:40px;

}

.curiosidade button{

    margin-top:20px;

    padding:12px 25px;

    border:none;

    border-radius:10px;

    background:#183451;

    color:white;

    cursor:pointer;

}

.curiosidade p{

    margin-top:20px;

    font-weight:bold;

}

/* ===== RODAPÉ ===== */

footer{

    background:#183451;

    color:white;

    text-align:center;

    padding:20px;

    margin-top:50px;

}

/* ===== TÍTULO DA PÁGINA ===== */

.tituloPagina{

    text-align:center;

    padding:40px 20px;

}

.tituloPagina h2{

    color:#183451;

    margin-bottom:15px;

}

/* ===== CARDS ===== */

.cards{

    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    padding:20px 30px 60px;
    align-items:flex-start;

}

.card{

    width:300px;

    background:white;

    border-radius:15px;

    overflow:hidden;

    box-shadow:0 0 10px rgba(0,0,0,.2);

    text-align:center;

    padding-bottom:20px;

}

.card img{

    width:100%;

    height:220px;

    object-fit:cover;

}

.card h3{

    margin-top:20px;

    color:#183451;

}

.card p{

    padding:10px 20px;

}

.card button{

    background:#D67B2A;

    color:white;

    border:none;

    padding:12px 20px;

    border-radius:10px;

    cursor:pointer;

    margin-top:10px;

}

.card button:hover{

    background:#A6502A;

}

/* ===== INFORMAÇÕES ===== */

.informacao{

    display:none;

    margin-top:20px;

    border-top:2px solid #D4AF83;

    padding:15px;

    background:#F7F2EB;

}

/* ===== CURIOSIDADES ===== */

.curiosidades{

    max-width:900px;

    margin:auto;

    padding:40px 20px;

}

.mito{

    background:white;

    margin-bottom:25px;

    padding:25px;

    border-radius:15px;

    box-shadow:0 0 8px rgba(0,0,0,.15);

}

.mito h3{

    color:#183451;

    margin-bottom:15px;

}

.mito button{

    background:#D67B2A;

    color:white;

    border:none;

    padding:12px 20px;

    border-radius:10px;

    cursor:pointer;

}

.mito button:hover{

    background:#A6502A;

}
